In [1]:
import pandas as pd

In [14]:
data = pd.read_csv('spy.csv')

In [15]:
# convert data to monthly data
data['Date'] = pd.to_datetime(data['Date'])
data = data.set_index('Date')
data = data['Close'].resample('ME').mean()
data

<ipython-input-15-bc5392aa61b8>:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Date'] = pd.to_datetime(data['Date'])

Date
2019-08-31    266.847731
2019-09-30    275.124083
2019-10-31    275.042889
2019-11-30    287.230696
2019-12-31    294.386970
2020-01-31    304.166575
2020-02-29    304.536698
2020-03-31    246.812456
2020-04-30    257.704357
2020-05-31    272.904073
2020-06-30    290.675408
2020-07-31    300.740881
2020-08-31    318.366515
2020-09-30    316.347921
2020-10-31    321.746076
2020-11-30    334.428850
2020-12-31    348.688117
2021-01-31    358.368304
2021-02-28    367.184108
2021-03-31    370.319112
2021-04-30    392.562497
2021-05-31    395.477443
2021-06-30    402.679703
2021-07-31    415.006406
2021-08-31    423.996951
2021-09-30    423.711841
2021-10-31    425.551688
2021-11-30    445.675473
2021-12-31    447.014807
2022-01-31    437.727365
2022-02-28    424.951927
2022-03-31    421.321611
2022-04-30    421.723515
2022-05-31    388.511691
2022-06-30    375.534276
2022-07-31    377.257454
2022-08-31    401.585252
2022-09-30    372.480464
2022-10-31    360.920438
2022-11-30    379.916200
2022-12-31    380.011982
2023-01-31    385.154984
2023-02-28    397.232444
2023-03-31    387.158442
2023-04-30    402.518203
2023-05-31    405.417536
2023-06-30    425.573033
2023-07-31    441.897125
2023-08-31    437.439109
2023-09-30    433.364351
2023-10-31    419.978098
2023-11-30    439.312711
2023-12-31    462.164723
2024-01-31    474.337991
2024-02-29    495.300862
2024-03-31    511.715401
2024-04-30    506.385379
2024-05-31    519.148127
2024-06-30    537.665861
2024-07-31    550.330164
Freq: ME, Name: Close, dtype: float64

In [16]:
# convert date index to monthly
data.index = data.index.to_period('M')
data

Date
2019-08    266.847731
2019-09    275.124083
2019-10    275.042889
2019-11    287.230696
2019-12    294.386970
2020-01    304.166575
2020-02    304.536698
2020-03    246.812456
2020-04    257.704357
2020-05    272.904073
2020-06    290.675408
2020-07    300.740881
2020-08    318.366515
2020-09    316.347921
2020-10    321.746076
2020-11    334.428850
2020-12    348.688117
2021-01    358.368304
2021-02    367.184108
2021-03    370.319112
2021-04    392.562497
2021-05    395.477443
2021-06    402.679703
2021-07    415.006406
2021-08    423.996951
2021-09    423.711841
2021-10    425.551688
2021-11    445.675473
2021-12    447.014807
2022-01    437.727365
2022-02    424.951927
2022-03    421.321611
2022-04    421.723515
2022-05    388.511691
2022-06    375.534276
2022-07    377.257454
2022-08    401.585252
2022-09    372.480464
2022-10    360.920438
2022-11    379.916200
2022-12    380.011982
2023-01    385.154984
2023-02    397.232444
2023-03    387.158442
2023-04    402.518203
2023-05    405.417536
2023-06    425.573033
2023-07    441.897125
2023-08    437.439109
2023-09    433.364351
2023-10    419.978098
2023-11    439.312711
2023-12    462.164723
2024-01    474.337991
2024-02    495.300862
2024-03    511.715401
2024-04    506.385379
2024-05    519.148127
2024-06    537.665861
2024-07    550.330164
Freq: M, Name: Close, dtype: float64

In [17]:
len(data)

60

In [18]:
# save new csv
data.to_csv('spy_monthly.csv')